@font-face {
  font-family: "Inter Variable";
  src: url("./styling/Inter-3/InterWeb/Inter.var.woff2") format("woff2");
  font-weight: 100 900;
}

body {
    margin: 0;
    font-family: "Inter Variable" -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    min-height: 100vh;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  